<!DOCTYPE html>
<html>
        <title>About Page</title>
    <head>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/custom.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This is created by Pramod kharade.(kharade.pramod91@gmail.com) in NodeJs.it uses data from mapbox.com and darkskye.net</p>
            <img src="/images/pramod.jpeg" class="portrait">
        </div>
        
        {{>footer}}
    </body>
</html>