<!DOCTYPE html>
<html>
        <title>Home Page</title>
    <head>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/custom.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This the main content </p>
        </div>
        
        {{>footer}}
    </body>
</html>